@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	background: #FFF url(../login_images/bg2.png) repeat-x;
}
a {
	outline: none;
}
a:active {
star:expression(this.onFocus=this.blur());
}

.login_main{
	margin:0px auto;
	width:1280px;
	height:800px;
	background:url(../login_images/login_bg2.png);
	position:relative;

}
.copyright_2{
	position: absolute;
	height: 48px;
	width: 533px;
	left: 215px;
	top: 671px;
}
.copyright_2 input{
	height:32px;

}
.botton{
	width:60px;
	heigh:31px;
	background:url(../login_images/botton2.png) no-repeat;
	border:0px;

}
.input_bg{
	background:url(../login_images/login_input.png) no-repeat;
	height:30px;
	line-height:30px;
	width:181px;
	border:0px;
	padding-left:8px;
	}
